<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="EsiAddress" value="https://esi.evetech.net"/>

  <!-- 
    # Production: EVE - 
    # Tests:      Form1
    -->
  <add key="EveOnlineTitle" value="EVE -" />

  <!-- Statistic -->

  <add key="Statistic.VisitorsCounterPage" value="http://evejima.mikotaj.com/VisitorsCounter.html"/>

</appSettings>